* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  font-family: Roboto, sans-serif;
  background: #111;
}

.title {
  text-align: center;
}
.title h1 {
  margin-top: 30px;
  color: rgb(233, 233, 233);
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: lighter;
  font-style: italic;
}
.title h1 span {
  font-weight: bold;
  font-style: normal;
}
.title p {
  color: rgb(160, 160, 160);
  letter-spacing: 2px;
  font-style: italic;
}

.container-grid {
  width: 100%;
  padding: 30px 20px;
  display: grid;
  grid-gap: 0.6rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 240px;
}

.card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: 3rem;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  border-radius: 4px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.5s;
  animation: cardAnimation 0.5s ease-out;
  animation-fill-mode: backwards;
  --delay: 0.1s;
}
.card .profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 30px;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}
.profile h6 {
  font-size: 25px;
  letter-spacing: 2px;
  text-transform: lowercase;
  color: #cacacab9;
  font-weight: normal;
}
.profile p {
  font-size: 12px;
  color: #ffffff59;
  text-transform: lowercase;
  font-weight: normal;
}
.card:hover > .profile {
  opacity: 1;
}

.card:nth-child(1) {
  animation-delay: calc(0.5 * var(--delay));
}
.card:nth-child(2) {
  animation-delay: calc(1 * var(--delay));
}
.card:nth-child(3) {
  animation-delay: calc(1.5 * var(--delay));
}
.card:nth-child(4) {
  animation-delay: calc(2 * var(--delay));
}
.card:nth-child(5) {
  animation-delay: calc(2.5 * var(--delay));
}
.card:nth-child(6) {
  animation-delay: calc(3 * var(--delay));
}
.card:nth-child(7) {
  animation-delay: calc(3.5 * var(--delay));
}
.card:nth-child(8) {
  animation-delay: calc(4 * var(--delay));
}
.card:nth-child(9) {
  animation-delay: calc(4.5 * var(--delay));
}
.card:nth-child(10) {
  animation-delay: calc(5 * var(--delay));
}

@keyframes cardAnimation {
  from {
    opacity: 0;
    transform: scale(0.3);
    filter: hue-rotate(180deg);
  }
  to {
    opacity: 1;
    transform: scale(1);
    filter: hue-rotate(0deg);
  }
}

@media (min-width: 800px) {
  .card-large {
    grid-row: span 2 / auto;
  }
  .card-long {
    grid-column: span 2 / auto;
  }
  .card-long-full {
    grid-column: span 3 / auto;
  }
}
